<div class="modal-header">
	<button type="button" class="close" data-ng-click="modalOptions.close()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Inställningar</h4>
</div>
<div class="modal-body" ng-controller="settingsController">
	<div class="row eq">
		<div class="col-xs-12 text-center">
			<div class="row">
				<a class="theme col-md-3 col-xs-3" ng-click="changeTheme(theme)" ng-repeat="theme in themes">
					<img ng-src="{{imgPath}}{{theme}}.jpg" alt="{{theme}}" ng-class="{active: 'skin-blur-' + theme === selectedTheme}" data-placement="top" data-content="{{theme}}" data-trigger="hover" bs-popover />
				</a>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-show="modalOptions.showFooter">
	<button type="button" class="btn pull-right" data-ng-click="modalOptions.close()">
		{{modalOptions.closeButtonText}}
	</button>
</div>