<div class="activity" ng-controller="activityController as activityController">
    <div class="modal-header">
        <button type="button" class="close" ng-click="modalOptions.close()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{modalOptions.headerText}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-8">
                <h2>{{modalOptions.activity.name}}</h2>
                <p>{{modalOptions.activity.description}}</p>
            </div>
            <div class="col-xs-4">
                <div class="badge-box">
                    <img ng-src="{{modalOptions.activity.imgSrc}}" alt="">
                    <ul class="level">
                        <li ng-repeat="n in [] | range: modalOptions.activity.userCompletions">
                            <span class="icon">&#61823;</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 m-t-20">
                <tabset>
                    <tab ng-repeat="tab in modalOptions.tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                        <div class="activity-form-tab animated" ng-init="activity = modalOptions.activity" ng-include="tab.templateUrl"></div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>